
.mainMenu{

}

ul.mainMenu {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	float: top;
	background-color: cornflowerblue;
}

.mainMenu li {
	float: right;
}

.mainMenu li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.mainMenu li a:hover {
	background-color: blue;
}

.mainMenu .active {
	background-color: #4CAF50;
}


li.left {
	float:left;
}

.center {
	width: 80%;
	margin:auto;
}

.mainMenu li #ofekIcon {
	margin-top: 2.5px;
	max-height: 40px;
	max-width: 40px;
	display: block;
	text-align: center;
}
