.main-container {
	width: 700px;
	margin: 20px auto 0;
}

.center {
	text-align: center;
}
.tweets-container
{

}

.tweet-avatar {
	float: left;
	margin-right: 10px;
	height: 48px;
	width: 48px;
}

.tweet-author{
	font-weight: bold;
}

.tweet-message{

}

.tweet-child {
	margin-top: 10px;
	margin-left: 50px;
}


img {
	max-width:100%;
	max-height:100%;
}


.form-container {
	margin: 20px auto 0;
	display: inline-block;
	border: 1px solid black;
	border-radius: 5px;
	padding-bottom: 3px;
}
.form-header {
	background-color: cornflowerblue;
	font-weight: bold;
	color:white;
	border-bottom: 1px solid black;
}
.form-body {
	padding: 5px 5px 5px;
	border: 1px solid;
	margin: 3px 3px 5px;
}

.form-fotter {
	margin-right: 5px;
	margin-bottom: 10px;
}