.tweet {
	margin-top: 30px;
	margin-bottom: 20px;

	max-height: 10%;
	height: 30px;
}
.tweet-avatar {
	float: left;
	margin-right: 10px;
	height: 48px;
	width: 48px;
}

.tweet-author {
	font-weight: bold;
}

.tweet-message {

}

#tweetsList {
	margin-bottom: 20px;
}